<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wuye.xyq.model.mapper.IEmpMapper">
   <!--查询消防记录表
    List<CoPatrol> examine();-->
    <select id="examine" resultType="CoPatrol">
     select t.*,p.*,e.* from co_patrol p
	 left join tfloor t on p.tfid=t.tfid
	 left join emp e on p.empno=e.empno
	 where not pa_state='删除';
    </select>
</mapper>