<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wuye.xyq.model.mapper.IVisitMapper">
    <resultMap id="VisitMap" type="wuye.xyq.pojo.Visit">
        <id column="vid" property="vid"/>
        <result column="vname" property="vname"/>
        <result column="vtime" property="vtime"/>
        <result column="vtimego" property="vtimego"/>
        <result column="vthing" property="vthing"/>
        <association property="emp" javaType="wuye.xyq.pojo.Emp">

        </association>
        <association property="owners" javaType="wuye.xyq.pojo.Owners">

        </association>
        <association property="tunit" javaType="wuye.xyq.pojo.Tunit">

        </association>
    </resultMap>
</mapper>

