<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wuye.xyq.model.mapper.IZhiqinMapper">
    <resultMap id="ZhiMap" type="wuye.xyq.pojo.Zhiqin">
        <id column="zqid" property="zqid"/>
        <result column="zqtime" property="zqtime"/>
        <result column="zqtype" property="zqtype"/>
        <result column="zqtext" property="zqtext"/>
        <association property="emp" javaType="wuye.xyq.pojo.Emp" >

        </association>
        <association property="tfloor" javaType="wuye.xyq.pojo.Tfloor">

        </association>
    </resultMap>
</mapper>